header{ 
    padding: 28PX;
    color: blue;
    }

    table{
    flex-direction: column;   
    border-bottom: blueviolet;
    padding-bottom: 20 px;
    border-style: double;
    }
    .success, .error {
    color: white;
    padding: 5px;
    margin: 5px 0 15px 0;
}

.success {
    background: green;
}

.error {
    background: red;
}

body {
    font: 13px verdana;
    font-weight: normal;
    }