header{ 
    align-content: center;
    padding: 28PX;
    color: blue;
    text-align: center;
    display: list-item;
    background-color: yellowgreen;
    }

    table{
    flex-direction: column; 
    text-align:center;
    border-bottom: blueviolet;
    padding-bottom: 20 px;
    border-style: double;
    }
    
body {
    font: 13px verdana;
    font-weight: normal;
    justify-content: center;
    }